html, body{

	height: 100%;
	width: 100%;
}
body{
	padding: 20px;

}
.bg{
	padding: 100px;
	height: 100%;
	width: 100%;
	background-color: #7d536d;

}

.text{
	color: white;
	margin-bottom: 100px;
	font-size: 45px;
	margin-left: 650px;
	transition-duration: 6s;

}
.text:hover{	
	color: #c77980;
	transition-duration: 6s;
}
.box{
	background-color: #324f72;
	width: 610px;
	height: 343px;
	display: inline-block;
	margin-left: 270px;
	vertical-align: top;
	padding: 50px;
	transition-duration: 6s;

}
.box:hover{
	background-color: #7d536d;
	transition-duration: 6s;
}

p{
	font-size: 25px;
	color: white;
}
.imgtext{
	width: 610px;
	height: 343px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.img{
	width: 100%;
	position: relative;
	transition-duration: 2s;
}

.lorem{
	position: absolute;
	top: 150px;
	left: 100px;
	transition-duration: 2s;

}

.imgtext:hover .lorem{
	color: #324f72;
	transition-duration: 2s;
	font-size: 26px;
}
.imgtext:hover .img{
	opacity: 0.3;
	transition-duration: 2s
}